# Kopiera till .env på servern och fyll i. .env committas ALDRIG.
SECRET_KEY=byt-mig-64-slumpade-tecken
MQTT_PASSWORD=byt-mig-backendens-brokerlosenord
ADMIN_EMAIL=agare@example.com
ADMIN_PASSWORD=byt-mig-adminlosenord
MQTT_DOMAIN=bevattning.tillsvidare.eu
